.app {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.side-bar {
  height: 100%;
  border-right: 1px solid gray;
}

.side-bar ul {
  list-style: none;
  padding: 0 50px;
}

.side-bar ul li {
  margin: 10px 0;
  text-align: center;
}

.side-bar ul li a {
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.side-bar ul li a:hover {
  color: lightgray;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 0 20%;
}