.nav-header {
  position: absolute;
  top: 0;
  height: 100px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header img {
  height: 100%;
}

.nav-header ul {
  width: 30%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-header ul li {
  margin-left: 15px;
}

.nav-header ul li a {
  color: black;
  font-weight: bolder;
}

.nav-header ul li a:hover {
  color: lightgray;
}

.nav-header ul button,
.nav-header ul button:hover {
  background: none;
  border: none;
  box-shadow: none;
  margin-left: 15px;
}

.nav-header ul button:hover {
  color: lightgray;
}

.card {
  width: 50%;
  height: 600px;
}

.card-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header p {
  margin: 0;
}

.ant-card-body {
  height: 80%;
  display: flex;
  align-items: center;
}